@model PizzaOnline.Models.CustomPizza

@{
    ViewBag.Title = "CustomPizza";
}

<h2>CustomPizza</h2>

<div>
    <h4>CustomPizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomPizzaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomPizzaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PizzaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
